**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант №7

Набор данных: credit_risk.csv

Атрибуты:
1. возраст
2. доход
3. статус домовладения (Собственный, Ипотека, Аренда)
4. стаж работы в годах
5. цель кредита
6. сумма кредита по заявке
7. процентная ставка
8. статус одобрения кредита
9. сумма кредита в процентах от дохода
10. не допустил ли заявитель ранее дефолта по кредиту (да, нет)
11. длина кредитной истории заявителя

### 1.Чтение файла (набора данных)

In [1]:
# импорт библиотек, чтение файла с помощью pandas
import pandas as pd
path = 'C:/Users/Алиса/Desktop/ГУАП/3 курс/1 семестр/Введение в анализ данных/Лабораторная работа №1/credit_risk.csv'
df = pd.read_csv(path) # чтение таблицы

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.

In [2]:
# применить метод head
df.head(20)

,Id,Age,Income,Home,Emp_length,Intent,Amount,Rate,Status,Percent_income,Default,Cred_length
0,0,22.0,59000,RENT,123.0,PERSONAL,35000,16.02,1,0.59,Y,3
1,1,21.0,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
2,2,25.0,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
3,3,23.0,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
4,4,24.0,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
5,5,21.0,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2
6,6,26.0,77100,RENET,8.0,EDUCATION,35000,12.42,1,0.45,N,3
7,7,24.0,78956,RENT,5.0,MEDICAL,35000,11.11,1,0.44,N,4
8,8,24.0,83000,RENT,8.0,PERSONAL,35000,8.90,1,0.42,N,2
9,9,21.0,10000,OWN,6.0,VENTURE,1600,14.74,1,0.16,N,3
10,10,22.0,85000,RENT,6.0,VENTURE,35000,10.37,1,0.41,N,4
11,11,21.0,10000,OWN,2.0,HOMEIMPROVEMENT,4500,8.63,1,0.45,N,2
12,12,23.0,95000,RENT,2.0,VENTURE,35000,7.90,1,0.37,N,2
13,13,26.0,108160,RENT,4.0,EDUCATION,35000,18.39,1,0.32,N,4
14,14,23.0,115000,RENT,2.0,EDUCATION,35000,7.90,0,0.30,N,4
15,15,23.0,500000,MORTGAGE,7.0,DEBTCONSOLIDATION,30000,10.65,0,0.06,N,3
16,16,23.0,120000,RENT,0.0,EDUCATION,35000,7.90,0,0.29,N,4
17,17,23.0,92111,RENT,7.0,MEDICAL,35000,20.25,1,0.32,N,4
18,18,23.0,113000,RENT,8.0,DEBTCONSOLIDATION,35000,18.25,1,0.31,N,4
19,19,24.0,10800,MORTGAGE,8.0,EDUCATION,1750,10.99,1,0.16,N,2

2.2 Оценка данных с помощью метода info.

In [3]:
# выполнит метод info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              652 non-null    int64
 1   Age             652 non-null    float64
 2   Income          652 non-null    int64
 3   Home            652 non-null    object
 4   Emp_length      643 non-null    float64
 5   Intent          652 non-null    object
 6   Amount          652 non-null    int64
 7   Rate            586 non-null    float64
 8   Status          652 non-null    int64
 9   Percent_income  652 non-null    float64
 10  Default         652 non-null    object
 11  Cred_length     652 non-null    int64
dtypes: float64(4), int64(5), object(3)
memory usage: 61.3+ KB

2.3 Оценка данных с помощью метода describe.

In [4]:
# оцените числовые столбцы с помощью describe
df.describe()

,Id,Age,Income,Emp_length,Amount,Rate,Status,Percent_income,Cred_length
count,652.000000,652.000000,652.000000,643.000000,652.000000,586.000000,652.000000,652.000000,652.000000
mean,325.495399,24.285276,90008.855828,4.601866,18800.996933,12.289471,0.601227,0.279831,3.012270
std,188.352535,7.841061,69530.312525,7.281616,9152.896250,3.272772,0.490022,0.150231,0.808843
min,0.000000,21.000000,9600.000000,0.000000,1000.000000,5.420000,0.000000,0.010000,2.000000
25%,162.750000,23.000000,44000.000000,2.000000,10000.000000,10.250000,0.000000,0.160000,2.000000
50%,325.500000,24.000000,69998.000000,4.000000,21850.000000,12.180000,1.000000,0.280000,3.000000
75%,488.250000,25.000000,128499.000000,7.000000,25000.000000,14.720000,1.000000,0.380000,4.000000
max,649.000000,144.000000,500000.000000,123.000000,35000.000000,21.210000,1.000000,0.830000,4.000000


---

Из данной таблицы можно узнать минимальные и максимальные значения по всем столбцам файла, а также количество, среднее значение, медиану и тд.


 ---

 2.4 Оценка названий столбцов

In [5]:
# Вывести на экран названия столбцов с помощью df.columns. Выявить проблемы с названиями, если они есть. При необходимости переименовать столбцы. Если проблемы не обнаружены также дать пояснения.
arr = df.columns
for el in arr:
    for w in el:
        if ord(w) > 128:
            print(f'err: {el}')
print(*arr)

Id Age Income Home Emp_length Intent Amount Rate Status Percent_income Default Cred_length

In [6]:
# переименование при необходимости

### 3. Проверка пропусков

3.1 Проверка количества пропусков в конкретных столбцах, а также наличие специальных символов, обозначающих пропуски ('?', 'n/a')

In [7]:
for column in df.columns:
    print(f'{column} : {df[column].isna().sum()}, ?: {(df[column] == '?').sum()}, n/a: {(df[column] == 'n/a').sum() + (df[column] == 'N/A').sum()}')

Id : 0, ?: 0, n/a: 0
Age : 0, ?: 0, n/a: 0
Income : 0, ?: 0, n/a: 0
Home : 0, ?: 0, n/a: 0
Emp_length : 9, ?: 0, n/a: 0
Intent : 0, ?: 0, n/a: 0
Amount : 0, ?: 0, n/a: 0
Rate : 66, ?: 0, n/a: 0
Status : 0, ?: 0, n/a: 0
Percent_income : 0, ?: 0, n/a: 0
Default : 0, ?: 0, n/a: 0
Cred_length : 0, ?: 0, n/a: 0

3.2 Провека и замена пропусков текстовых столбцов

In [8]:
for column in df.columns:
    if column == 'Home' or column == 'Intent':
        df[column] = df[column].fillna('OTHER')
for column in df.columns:
    if column in ['Home', 'Intent', 'Default']:
        df[column] = df[column].str.upper()
df.head()

,Id,Age,Income,Home,Emp_length,Intent,Amount,Rate,Status,Percent_income,Default,Cred_length
0,0,22.0,59000,RENT,123.0,PERSONAL,35000,16.02,1,0.59,Y,3
1,1,21.0,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
2,2,25.0,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
3,3,23.0,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
4,4,24.0,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4

3.3 Проверка числовых данных на релевантность.

In [9]:
# Провека данных на релевантность
for column in df.columns:
    if column in ['Income', 'Age', 'Emp_length', 'Amount', 'Percent_income', 'Cred_length']:
        df[column] = df[column].abs()
df.loc[(df['Age'] < 18) | (df['Age'] > 100), 'Age'] = None
df.loc[(df['Emp_length'] < 1) | (df['Emp_length'] > 82), 'Emp_length'] = None
df.loc[df['Percent_income'] > 1, 'Percent_income'] = None
df.loc[(df['Income'] < 1), 'Income'] = None
df.loc[(df['Amount'] < 1), 'Amount'] = None
df.loc[(df['Cred_length'] > 80) | (df['Cred_length'] < 1), 'Cred_length'] = None
df.loc[(df['Status'] != 0) & (df['Status'] != 1), 'Status'] = None
df.loc[(df['Default']!= 'Y') & (df['Default'] != 'N'), 'Default'] = None
df.head()

,Id,Age,Income,Home,Emp_length,Intent,Amount,Rate,Status,Percent_income,Default,Cred_length
0,0,22.0,59000.0,RENT,NaN,PERSONAL,35000.0,16.02,1.0,0.59,Y,3.0
1,1,21.0,9600.0,OWN,5.0,EDUCATION,1000.0,11.14,0.0,0.10,N,2.0
2,2,25.0,9600.0,MORTGAGE,1.0,MEDICAL,5500.0,12.87,1.0,0.57,N,3.0
3,3,23.0,65500.0,RENT,4.0,MEDICAL,35000.0,15.23,1.0,0.53,N,2.0
4,4,24.0,54400.0,RENT,8.0,MEDICAL,35000.0,14.27,1.0,0.55,Y,4.0

3.4 Заполнение пропусков числовых данных

In [10]:
for column in df.columns:
    if column in ['Income', 'Age', 'Emp_length', 'Cred_length', 'Rate']:
        df[column] = df[column].fillna(df[column].mean()) if column in ['Age', 'Emp_length', 'Rate', 'Cred_length'] else df[column].fillna(int(df[column].median()))
df['Percent_income'] = df['Percent_income'].fillna(df['Amount']/df['Income'])
df = df.dropna(subset=['Amount', 'Status', 'Default'])
df.head()

,Id,Age,Income,Home,Emp_length,Intent,Amount,Rate,Status,Percent_income,Default,Cred_length
0,0,22.0,59000.0,RENT,4.932727,PERSONAL,35000.0,16.02,1.0,0.59,Y,3.0
1,1,21.0,9600.0,OWN,5.000000,EDUCATION,1000.0,11.14,0.0,0.10,N,2.0
2,2,25.0,9600.0,MORTGAGE,1.000000,MEDICAL,5500.0,12.87,1.0,0.57,N,3.0
3,3,23.0,65500.0,RENT,4.000000,MEDICAL,35000.0,15.23,1.0,0.53,N,2.0
4,4,24.0,54400.0,RENT,8.000000,MEDICAL,35000.0,14.27,1.0,0.55,Y,4.0

3.5 Проверка отсутсвия пропусков

In [11]:
# Проверить данные на наличие пропусков и устранить их, если они есть (пропуски необходимо либо удалить, либо заменить каким-то значением).
for column in df.columns:
    print(f'{column} : {df[column].isna().sum()}, ?: {(df[column] == '?').sum()}, n/a: {(df[column] == 'n/a').sum() + (df[column] == 'N/A').sum()}')

Id : 0, ?: 0, n/a: 0
Age : 0, ?: 0, n/a: 0
Income : 0, ?: 0, n/a: 0
Home : 0, ?: 0, n/a: 0
Emp_length : 0, ?: 0, n/a: 0
Intent : 0, ?: 0, n/a: 0
Amount : 0, ?: 0, n/a: 0
Rate : 0, ?: 0, n/a: 0
Status : 0, ?: 0, n/a: 0
Percent_income : 0, ?: 0, n/a: 0
Default : 0, ?: 0, n/a: 0
Cred_length : 0, ?: 0, n/a: 0


---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с пропусками, а также знать другие способы работы с пропусками, чтобы
 ответить на вопросы на защите.**


 ---

### 4. Проверка дубликатов

#### Проверка явных дубликатов

4.1 Нахождение явных дубликатов и определение их количества

In [12]:
df[df.duplicated()] # получение дубликатов с помощью логической индексации
print(df.duplicated().sum()) # подсчет количества дубликатов

2

4.2 Удаление явных дубликатов

In [13]:
# удалите дубликаты, если они есть
df = df.drop_duplicates().reset_index(drop=True) # удаление дубликатов
print(df.duplicated().sum())

0

#### Проверка неявных дубликатов

4.3 Нахождение неявных дубликатов

In [14]:
for column in df.columns:
    if column in ['Home', 'Intent', 'Default']:
        print(column, df[column].unique()) # Поиск уникальных значений'''

Home ['RENT' 'OWN' 'MORTGAGE' 'RENET' 'OTHER']
Intent ['PERSONAL' 'EDUCATION' 'MEDICAL' 'VENTURE' 'HOMEIMPROVEMENT'
 'DEBTCONSOLIDATION']
Default ['Y' 'N']

4.4 Удаление неявных дубликатов

In [15]:
# удалите дубликаты, если они есть
df['Home'] = df['Home'].replace('RENET', 'RENT')
df.head()

,Id,Age,Income,Home,Emp_length,Intent,Amount,Rate,Status,Percent_income,Default,Cred_length
0,0,22.0,59000.0,RENT,4.932727,PERSONAL,35000.0,16.02,1.0,0.59,Y,3.0
1,1,21.0,9600.0,OWN,5.000000,EDUCATION,1000.0,11.14,0.0,0.10,N,2.0
2,2,25.0,9600.0,MORTGAGE,1.000000,MEDICAL,5500.0,12.87,1.0,0.57,N,3.0
3,3,23.0,65500.0,RENT,4.000000,MEDICAL,35000.0,15.23,1.0,0.53,N,2.0
4,4,24.0,54400.0,RENT,8.000000,MEDICAL,35000.0,14.27,1.0,0.55,Y,4.0

---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с дубликатами, знать, что такое явные и неявные дубликаты и способы работы с ними, чтобы ответить на вопросы на защите.**


 ---

### 5. Провека типов данных

5.1 Проверка типа данных каждого столбца

In [16]:
df.dtypes

Id                  int64
Age               float64
Income            float64
Home               object
Emp_length        float64
Intent             object
Amount            float64
Rate              float64
Status            float64
Percent_income    float64
Default            object
Cred_length       float64
dtype: object

5.2 Перевод из типа данных float в int

In [17]:
# Проверьте типы данных, при необходимости измените типы данных, чтобы они соответствовали действительности.
for column in df.columns:
    if column in ['Age', 'Income', 'Emp_length', 'Amount', 'Cred_length', 'Status']:
        df[column] = df[column].astype(int)
df.head()

,Id,Age,Income,Home,Emp_length,Intent,Amount,Rate,Status,Percent_income,Default,Cred_length
0,0,22,59000,RENT,4,PERSONAL,35000,16.02,1,0.59,Y,3
1,1,21,9600,OWN,5,EDUCATION,1000,11.14,0,0.10,N,2
2,2,25,9600,MORTGAGE,1,MEDICAL,5500,12.87,1,0.57,N,3
3,3,23,65500,RENT,4,MEDICAL,35000,15.23,1,0.53,N,2
4,4,24,54400,RENT,8,MEDICAL,35000,14.27,1,0.55,Y,4

---

**Обратите внимание, что во всех вариантах необходимо сделать приведение типов. Будьте готовы на защите аргументировать проверку типов (почему выполнены те или иные преобразования).**


 ---

### 6. Группировка данных

#### Задание 1

Группировка - цель кредита (intent) по количеству статуса домовладения (home)

In [18]:
# выполните группировку согласно варианту
df.groupby(['Intent', 'Home'])['Home'].count()

Intent             Home
DEBTCONSOLIDATION  MORTGAGE    21
                   OWN          9
                   RENT        71
EDUCATION          MORTGAGE    34
                   OTHER        1
                   OWN         16
                   RENT        93
HOMEIMPROVEMENT    MORTGAGE    13
                   OWN         16
                   RENT        38
MEDICAL            MORTGAGE    22
                   OWN         15
                   RENT        70
PERSONAL           MORTGAGE    19
                   OTHER        1
                   OWN         22
                   RENT        69
VENTURE            MORTGAGE    27
                   OWN         20
                   RENT        70
Name: Home, dtype: int64

В результате выполнения данной группировки стало возможно легко увидеть на что собственники жилья чаще всего берут кредит с персональной (личной) целью, а те, кто жилье арендует чаще всего берут кредит на образование и обучение. А те, у кого жилье в ипотеку, чаще берут кредит также на образование

#### Задание 2

Группировка - статус домовладения (home) по количеству дефолтов (default). Создать датафрейм. Переименовать столбец с количеством в “сount”. Отсортировать по убыванию столбца “count”.

In [ ]:
# выполните группировку согласно варианту
df.groupby(['Home', 'Default'])['Default'].count().reset_index(name='Count').sort_values(by = 'Count', ascending = False).reset_index(drop=True)

       Home Default  Count
0      RENT       N    305
1  MORTGAGE       N    107
2      RENT       Y    106
3       OWN       N     85
4  MORTGAGE       Y     29
5       OWN       Y     13
6     OTHER       Y      2

Из результатов данной группировки можно сделать следующие выводы, во-первых, на первом месте по количеству кредитов идут арендаторы жилья, на втором, те, кто взяли ипотеку, и на третьем - собственники жилья. Во-вторых, больше всего просрачивают выплаты по кредитам арендаторы жилья, а меньше всего - собственники жилья.

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 3

Сводная таблица (pivot_table) - средняя сумма кредита amount для каждой цели кредита. Отсортировать по убыванию. Округлить до трёх знаков.

In [20]:
# выполните сводную таблицу согласно варианту
df.pivot_table(index='Intent', values ='Amount', aggfunc='mean').sort_values(by='Amount', ascending = False).round(3)

                      Amount
Intent
DEBTCONSOLIDATION  19531.931
PERSONAL           19350.676
EDUCATION          19056.424
MEDICAL            18732.243
VENTURE            17732.692
HOMEIMPROVEMENT    17666.418

Из результатов данной таблицы можно сделать выводы, что самую большую сумму кредита берут с целью погащения остальных кредитов, а меньше всего - сумма на ремонт и улучшения для дома.

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 4

Сводная таблица (pivot_table) -средний доход income для каждого статуса домовладения (home) - строки и цели кредита - столбцы. Отсортировать по возрастанию home. Округлить до двух знаков.

In [21]:
# выполните сводную таблицу согласно варианту
df.pivot_table(index=['Home'], columns='Intent', values='Income', aggfunc='mean').sort_values(by='Home', ascending = True).round(2)

Intent,DEBTCONSOLIDATION,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE
Home,,,,,,
MORTGAGE,128852.05,141393.41,144012.62,117061.55,102129.53,145813.37
OTHER,NaN,11389.00,NaN,NaN,19200.00,NaN
OWN,14334.67,63824.75,72565.44,39385.07,69722.55,44181.00
RENT,82066.80,88025.23,84498.50,79992.63,86012.55,88363.53

Из результатов данной таблицы можно сделать выводы, что, во-первых, среди заемщиков с ипотечным жильем, самый большой доход у тех, кто берет кредит на открытие бизнеса, а наименьший доход у тех, кто берет кредит на личные расходы. Во-вторых, можно отметить, что тех, кто не стал указывать тип домовладения представлено слабо, поэтому выводы сделать тяжело. Тем не менее можно отметить, что такие люди обычно берут кредит на обучение и на личные расходы. В-третьих, владельцы жилья с наибольшим доходом, это те, кто берет кредит на улучшения для дома, а наименьший доход у тех, кто целью кредита указывает расплату по старым кредитам и долгам. В-четвертых, арендаторы с наибольшим доходом - это те, кто берет кредит на открытие бизнеса, а наименьший доход у тех, кто берет кредит на медицинские услуги.

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

### Вывод


***`Сделать расширенный вывод. `***

Вывод должен описывать результаты исследования: какой набор данных вы анализировали (предметная область), какие методы предобработки применили, какие выводы из группировок и сводных таблиц можно сделать (они могут повторять выводы выше) и т.п. Объём вывода, как правило не более 0.5-0.75 страницы А4, всё таки вывод должен быть конкретным (без теории и “воды”).
В результате выполнения данной лабораторной работы произвели анализ набора данных по кредитам рискам. Также предобработали данные, используя следующие методы предобработки: оценка названий столбцов. Для этого метода вывели названия столбцов, а также проверили, что все буквы принадлежат латинскому алфавиту. Следующий метод предобработки, который был использован - это проверка пропусков. Для этого метода сначала проверили количество пропусков в разных столбцах, а потом продумали логику обработки пропусков, а именно при пропуске в столбцах Сумма кредита, Дефолт и Статус полностью удалять строку, так как данные ничем не заменить. Столбец процента от дохода высчитывать по формуле: сумма кредита/сумма дохода. Столбцы Тип домовладения и цель кредита заменять на Other, а числовые столбцы заменять на медиану, когда существует большой разброс между значениями, и на среднее значение, если разброс небольшой. Также использовали метод проверки явных и неявных дубликатов и метод проверки типов данных, типы данных некоторых столбцов были изменены.
Также при выполнении лабораторной работы были выполнены 2 группировки и 2 сводные таблицы, по которым были сделаны следующие выводы:
1. В результате выполнения группировки из задания №1 стало возможно легко увидеть на что собственники жилья чаще всего берут кредит с персональной (личной) целью, а те, кто жилье арендует чаще всего берут кредит на образование и обучение. А те, у кого жилье в ипотеку, чаще берут кредит также на образование
2. Из результатов группировки задания №2 можно сделать следующие выводы, во-первых, на первом месте по количеству кредитов идут арендаторы жилья, на втором, те, кто взяли ипотеку, и на третьем - собственники жилья. Во-вторых, больше всего просрочивают выплаты по кредитам арендаторы жилья, а меньше всего - собственники жилья.
3. Из результатов сводной таблицы из задания №3 можно сделать выводы, что самую большую сумму кредита берут с целью погашения остальных кредитов, а меньше всего - сумма на ремонт и улучшения для дома.
4. Из результатов сводной таблицы задания №4 можно сделать выводы, что, во-первых, среди заемщиков с ипотечным жильем, самый большой доход у тех, кто берет кредит на открытие бизнеса, а наименьший доход у тех, кто берет кредит на личные расходы. Во-вторых, можно отметить, что тех, кто не стал указывать тип домовладения представлено слабо, поэтому выводы сделать тяжело. Тем не менее можно отметить, что такие люди обычно берут кредит на обучение и на личные расходы. В-третьих, владельцы жилья с наибольшим доходом, это те, кто берет кредит на улучшения для дома, а наименьший доход у тех, кто целью кредита указывает расплату по старым кредитам и долгам. В-четвертых, арендаторы с наибольшим доходом - это те, кто берет кредит на открытие бизнеса, а наименьший доход у тех, кто берет кредит на медицинские услуги.

### Дополнительное задание

**`Подробная формулировка задания`**

In [22]:
# код выполнения задания

***`Подробный вывод по заданию, описание полученных результатов`***